body{
    background-color: gold;
    margin: 0;

}
img{
    width:;
    margin: 0 auto;
}


div{
    
    color:rgb(224, 234, 235);
    margin: 0 auto;


}

h1{
    color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-size: 100%;
  text-shadow: 7px 6px 3px rgba(4, 37, 100, 0.71);
  margin: 0 auto;

  
}
  .only{
    color:rgb(41, 5, 75);
    font-family: fantasy;
    font-size: 144%;
    margin: 0 auto;
  }
  p{
    color: rgb(42, 56, 187);
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin: 0 auto;

    

  }
  ul{ color:whitesmoke;
  border: 1px solidcolor red;
  font-family: cursive;
  margin: 0 auto;

}
.highlight{
    background-color: rgb(39, 59, 145);
    outline-color: rgb(223, 247, 11);
    margin: 0 auto
}

#something-hot{
    color: blanchedalmond;
    background-color: blue;
    font-weight: bold;

    margin: 0 auto;
}

#next{
    background-color: darkgoldenrod;
    margin: 0 auto;
}
 
#navigation li{
    display: inline;
    
    
}
#navigation{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;

}
#navigation ul ul{
    display: none;
    position: absolute;
    right: 0;
    top: 05;

}

#navigation a + ul:hover,
#navigation a:hover + ul{
display: block;

}


#navigation li{
    position: relative;
}



#navigaton li:first-child{
    background-color: rgb(245, 224, 220);
}

#navigation li:nth-child(2n + 1){
    background-color: cyan;
}

#navigation:hover{
    background-color: firebrick;

}
#second{border: 5px solid blue;
    padding: 50px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;


}

#last{
    border: 15px dotted whitesmoke;
    padding: 50px;
    font-family: cursive;
    margin: 0 auto;


}
.container{
    margin: 0 auto;}