body{
    background-color: gold;
}
div{
    background-color: blue;
    color:rgb(224, 234, 235);
    padding: 40px;
    font-size: 250%
}

h1{
    color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-size: 100%;
  font-weight: bold;
}
  .only{
    color:rgb(41, 5, 75);
    font-family: fantasy;
    font-size: 44%;
  }
  p{
    color: rgb(42, 56, 187);
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    

  }
  ul{ color:darkgreen;
  border: 1px solidcolor red;
  font-family: cursive;

}
.highlight{
    background-color: rgb(39, 59, 145);
    color: rgb(223, 247, 11);
}